<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>维修领料单</title>
		<link rel="stylesheet" type="text/css" href="../css/element.css" />
	</head>

	<body>
		<div id="maintenanceRequisition">
			<el-table ref="multipleTable" :data="maintenanceRequisitions" tooltip-effect="dark" style="width: 100%">
				<el-table-column type="selection" width="55">
				</el-table-column>
				<!--<el-table-column label="日期" width="120">
								<template slot-scope="scope">{{ scope.row.date }}</template>
							</el-table-column>-->
				<el-table-column prop="state" label="状态">
				</el-table-column>
				<el-table-column prop="batch" label="批次" show-overflow-tooltip>
				</el-table-column>
				<el-table-column prop="theAcquisitionDate" label="领料日期" show-overflow-tooltip>
				</el-table-column>
				<el-table-column prop="cardNumber" label="卡号" show-overflow-tooltip>
				</el-table-column>
				<el-table-column prop="materialsMan" label="领料人" show-overflow-tooltip>
				</el-table-column>
				<el-table-column prop="theMaintenanceCrew" label="维修班组" show-overflow-tooltip>
				</el-table-column>
				<el-table-column prop="singlePerson" label="开单人" show-overflow-tooltip>
				</el-table-column>
				<el-table-column prop="auditor" label="审核人" show-overflow-tooltip>
				</el-table-column>
				<el-table-column prop="dateOfApproval" label="审核日期" show-overflow-tooltip>
				</el-table-column>
				<el-table-column prop="remark" label="备注" show-overflow-tooltip>
				</el-table-column>
			</el-table>
		</div>
	</body>
	<script src="../js/vue.js" type="text/javascript" charset="utf-8"></script>
	<script src="../js/element.js" type="text/javascript" charset="utf-8"></script>
	<script src="../js/axios.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="../js/axios_cfg.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript">
		var maintenanceRequisition = new Vue({
			el: "#maintenanceRequisition",
			data() {
				return {
					maintenanceRequisitions: []
				}
			}
		});
	</script>

</html>