<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>人事-岗位定义</title>
		<!--<link rel="stylesheet" href="../../css/index.css" />-->
	</head>

	<body>
		<div id="ppps" class="pb">
			<el-container>
				<el-header>
					<h1 style="text-align: center;">岗位定义</h1></el-header>
				<el-container>
					<el-main>
						<template>
							<el-row :gutter="20">
								<el-col align="center">
									岗位名称：<input placeholder="名称" type="text" />
									<el-button type="primary" size="mini">新增</el-button>
									<el-button type="warning" size="mini">修改</el-button>
									<el-button type="danger" size="mini">删除</el-button>
								</el-col>
							</el-row>
							<el-table align="center" ref="singleTable" :data="tableData" highlight-current-row @current-change="handleCurrentChange">
								<el-table-column label="序号" type="index" width="300">
								</el-table-column>
								<el-table-column property="id" label="岗位编号" width="320">
								</el-table-column>
								<el-table-column property="name" label="岗位名称" width="320">
								</el-table-column>
							</el-table>
							<br />
							<div align="center">
								<input type="button" value="首页" />
								<input type="button" value="上一页" />
								<input type="button" value="下一页" />
								<input type="button" value="尾页" />
							</div>
						</template>
					</el-main>
				</el-container>
			</el-container>
		</div>
	</body>
	<!--<script type="text/javascript" src="../../js/jquery-1.12.4.js"></script>
	<script type="text/javascript" src="../../js/vue.js"></script>
	<script type="text/javascript" src="../../js/axios.min.js"></script>
	<script type="text/javascript" src="../../js/axios_cfg.js"></script>
	<script type="text/javascript" src="../../js/index.js"></script>-->
	<script>
		var ppp = new Vue({
			data() {
				return {
					tableData: [{
						name: '食堂阿姨',
						id: '1'
					}, {
						name: '保安叔叔',
						id: '2'
					}],
					person: [{
						mentt: 'qq'
					}, {
						mentt: 'ww'
					}],
					currentRow: null

				}
			},
			methods: {
				setCurrent(row) {
					this.$refs.singleTable.setCurrentRow(row);
				},
				handleCurrentChange(val) {
					this.currentRow = val;
				},
				loadcs() {
					showWindowDialog("xzyg.html", "新增员工")
				}
			}

		}).$mount("#ppps");
	</script>

</html>