<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<!--<link rel="stylesheet" href="../../css/bootstrap.min.css" />-->
	</head>

	<body>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<form class="form-horizontal">
						<br />
						部门：<select name="">
									<option>1</option>
							</select>
						员工：
						<select name="">
							<option>1</option>
						</select>
						<br />
						<br />
						离职原因：<input type="text" />  <input style="border: 0; color: white; width: 50px; height: 30px; background-color: #269ABC;" type="button" value="离职" />
					</form>
				</div>
			</div>
		</div>
	</body>
	<!--<script type="text/javascript" src="../../js/jquery-1.12.4.js"></script>
	<script type="text/javascript" src="../../js/vue.js"></script>
	<script type="text/javascript" src="../../js/axios.min.js"></script>
	<script type="text/javascript" src="../../js/axios_cfg.js"></script>
	<script type="text/javascript" src="../../js/index.js"></script>-->

</html>