<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<!--<link rel="stylesheet" href="../../css/bootstrap.min.css" />-->
	</head>
	<body>
		<div class="container">
			
			<div class="row">
				<div class="col-md-12">
					<form class="form-horizontal">
						<div class="form-group">
							<div class="col-sm-9">
								*职工名称：<input style="width: 300px;" type="text" class="form-control" id="inputEmail3">
							</div>
						</div>
						<br />
						<div class="form-group">
							<div class="col-sm-9">
								*职工密码：<input style="width: 300px;" type="password" class="form-control" id="inputPassword3">
							</div>
						</div>
						<br />
						<div class="form-group">
							<div class="col-sm-9">
								职工性别：<input value="0" name="ww" type="radio">男
								<input value="1" name="ww" type="radio">女
							</div>
						</div>
						<br />
						<div class="form-group">
							<div class="col-sm-9">
								*出生日期：<input style="width: 300px;" type="date" class="form-control" id="inputPassword3">
							</div>
						</div>
						<br />
						<div class="form-group">
							<div class="col-sm-9">
								*手机电话：<input style="width: 300px;" type="text" class="form-control" id="inputPassword3">
							</div>
						</div>
						<br />
						<div class="form-group">
							<div class="col-sm-9">
								*联系电话：<input style="width: 300px;" type="text" class="form-control" id="inputPassword3">
							</div>
						</div>
						<br />
						<div class="form-group">
							<div class="col-sm-9">
								*联系地址：<input style="width: 300px;" type="text" class="form-control" id="inputPassword3">
							</div>
						</div>
						<br />
						<div class="form-group">
							<div class="col-sm-9">
								*紧急人联系电话：<input style="width: 300px;" type="text" class="form-control" id="inputPassword3">
							</div>
						</div>
						<br />
						<div class="form-group">
							<div class="col-sm-9">
								*紧急人联系地址：<input style="width: 300px;" type="text" class="form-control" id="inputPassword3">
							</div>
						</div>
						<br />
						<div class="form-group">
							<div class="col-sm-9">
								*紧急人联系电话：<input style="width: 300px;" type="text" class="form-control" id="inputPassword3">
							</div>
						</div>
						<br />
						<div class="form-group">
							<div class="col-sm-9">
								*紧急人联系地址：<input style="width: 300px;" type="text" class="form-control" id="inputPassword3">
							</div>
						</div>
						<br />
						<div class="form-group">
							<div class="col-sm-9">
								*职工工资：<input style="width: 300px;" type="text" class="form-control" id="inputPassword3">
							</div>
						</div>
						<br />
						<div class="form-group">
							<div class="col-sm-9">
								*入职时间：<input style="width: 300px;" type="date" class="form-control" id="inputPassword3">
							</div>
						</div>
						<br />
						<div class="form-group">
							<div class="col-sm-9">
								*试用结束时间：<input style="width: 300px;" type="date" class="form-control" id="inputPassword3">
							</div>
						</div>
						<br />
						<div class="form-group">
							<div class="col-sm-9">
								*合同开始时间：<input style="width: 300px;" type="date" class="form-control" id="inputPassword3">
							</div>
						</div>
						<br />
						<div class="form-group">
							<div class="col-sm-9">
								*合同结束时间：<input style="width: 300px;" type="date" class="form-control" id="inputPassword3">
							</div>
						</div>
						<br />
						<div class="form-group">
							<div class="col-sm-9">
								*部门：<select>
									<option>1</option>
								</select>
							</div>
						</div>
						<br />
						<div class="form-group">
							<div class="col-sm-9">
								*职务：<select>
									<option>1</option>
								</select>
							</div>
						</div>
						<br />
						<div class="form-group">
							<div class="col-sm-offset-2 col-sm-10">
								<input @click="updatePerson" type="button" class="btn btn-default" value="立即创建" />
								<button type="submit" class="btn btn-default">返回</button>
								<br /><br />
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</body>
	<!--<script type="text/javascript" src="../../js/jquery-1.12.4.js"></script>
	<script type="text/javascript" src="../../js/vue.js"></script>
	<script type="text/javascript" src="../../js/axios.min.js"></script>
	<script type="text/javascript" src="../../js/axios_cfg.js"></script>
	<script type="text/javascript" src="../../js/index.js"></script>-->
</html>
