<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>会员管理</title>
		<!--<link rel="stylesheet" href="../../css/element.css">-->
		<style type="text/css">
			#appMember{
				zoom: 0.8;
			}
		</style>
	</head>
	<body>
		<div id="appMember">
			<el-row justify="center">
				<el-col :span="10">&nbsp;</el-col>
				<el-col :span="4">
					<h1>会员管理</h1>
				</el-col>
				<el-col :span="10">&nbsp;</el-col>
			</el-row>
		</div>
	</body>
	<!--<script type="text/javascript" src="../../js/vue.js"></script>
	<script type="text/javascript" src="../../js/element.js"></script>
	<script type="text/javascript" src="../../js/jquery-1.12.4.js"></script>
	<script type="text/javascript" src="../../js/left.js"></script>
	<script type="text/javascript" src="../../js/axios.min.js"></script>
	<script type="text/javascript" src="../../js/axios_cfg.js"></script>
	<script type="text/javascript" src="../../js/echarts.min.js"></script>-->
	<script type="text/javascript">
		new Vue({
			el:'#appMember',
			data(){
				return{
					
				}
			}
		})
	</script>
</html>
