<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .clientCente{
            background-color: #fafafa;
        }
        
        h1{
        	font-size: 25px;
        }
        .sum_title{
        	line-height: 50px;
        }
        .sum_danhao{
        	width: 300px;
        }
        #summaryApp{
        	zoom: 0.8;
        }
    </style>
    <link rel="stylesheet" href="../../css/element.css">
</head>
<body>
    <div id="summaryApp">
        <div class="sum_title">
        	<el-row>
        		<el-col :span="24">
        			<h1>结算中心</h1>
        		</el-col>
        	</el-row>
        </div>
        <div>
        	<el-row>
        		<el-col :span="24">
        			结算日期：
						<el-date-picker
					      v-model="value1"
					      type="daterange"
					      range-separator="至"
					      start-placeholder="开始日期"
					      end-placeholder="结束日期">
					   </el-date-picker>
        			销售单号：
					    <el-input style="width: 200px;"></el-input>
        			结算状态：
						<el-select :popper-append-to-body="false" v-model="value" style="width: 160px;" placeholder="请选择">
						    <el-option
						      v-for="item in options"
						      :key="item.value"
						      :label="item.label"
						      :value="item.value">
						    </el-option>
					  	</el-select>
        			车牌号：
    						<el-input style="width: 200px;" placeholder="请输入内容"></el-input>
    						<el-button style="float: right;" @click="aa" type="primary" icon="el-icon-search">查询</el-button>
    						<br />
    						<br />
					客户名称：
						<el-select :popper-append-to-body="false" v-model="value" style="width: 160px;" placeholder="请选择">
						    <el-option
						      v-for="item in options"
						      :key="item.value"
						      :label="item.label"
						      :value="item.value">
						    </el-option>
					  	</el-select>
        			客户顾问：
						<el-select :popper-append-to-body="false" v-model="value" style="width: 160px;" placeholder="请选择">
						    <el-option
						      v-for="item in options"
						      :key="item.value"
						      :label="item.label"
						      :value="item.value">
						    </el-option>
					  	</el-select>
        			业务类型：
						<el-select :popper-append-to-body="false" v-model="value" style="width: 160px;" placeholder="请选择">
						    <el-option
						      v-for="item in options"
						      :key="item.value"
						      :label="item.label"
						      :value="item.value">
						    </el-option>
					  	</el-select>
        			单据类型：
						<el-select :popper-append-to-body="false" style="width: 160px;" v-model="value" placeholder="请选择">
						    <el-option
						      v-for="item in options"
						      :key="item.value"
						      :label="item.label"
						      :value="item.value">
						    </el-option>
					  	</el-select>
        			备注：
        				<el-input v-model="input" style="width: 200px;" placeholder="请输入内容"></el-input>
        				
        		</el-col>
        	</el-row>
        	<br />
        	<el-row>
        		<el-col :span="20">
        			&nbsp;
        		</el-col>
        		<el-col :span="4">
        			
        		</el-col>
        	</el-row>
        </div>
    </div>
</body>
<script type="text/javascript" src="../../js/vue.js" ></script>
<script type="text/javascript" src="../../js/element.js" ></script>
<script type="text/javascript" src="../../js/jquery-1.12.4.js" ></script>
<script type="text/javascript" src="../../js/left.js" ></script>
<script type="text/javascript" src="../../js/axios_cfg.js" ></script>
<script type="text/javascript" src="../../js/axios.min.js" ></script>
<script type="text/javascript" src="../../js/echarts.min.js" ></script>
<script>
    const summaryApp=new Vue({
        el:'#summaryApp',
        data() {
            return {
                input3:'',
                value1:'',
      		}
        },
        methods: {
            aa(){
                alert(1)
            },
            deleteRow(index, rows) {
                rows.splice(index, 1);
            },
            handleCurrentChange(ss){
                console.log(ss)
            }
        },
    })
</script>
</html>