<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>维修接车</title>
		<style type="text/css">
			* {
				font-size: 14px;
			}
			
			.el-col {
				margin-top: 20px;
			}
			
			#userinfo>span {
				font-size: 12px;
			}
			
			.demo-table-expand {
				font-size: 0;
			}
			
			.demo-table-expand label {
				width: 90px;
				color: #99a9bf;
			}
			
			.demo-table-expand .el-form-item {
				margin-right: 0;
				margin-bottom: 0;
				width: 50%;
			}
		</style>
	</head>

	<body>
		<div id="billing" align="center">
			<el-row id="head" type="flex" justify="space-between">
				<el-col :span="6">
					<div>
						<span style="color: green;">业务类型：</span>
						<el-select style="width: 120px;" v-model="value" size="small" placeholder="请选择">
							<el-option value="站内维修">
							</el-option>
							<el-option value="站外维修">
							</el-option>
						</el-select>
					</div>
				</el-col>
				<el-col :span="6">
					<el-button type="danger" size="small" @click="Billing(value)">维修开单</el-button>
				</el-col>
			</el-row>
			<el-divider></el-divider>
			<el-row type="flex" justify="center">
				<el-col :span="6">
					<el-autocomplete clearable size="small" class="inline-input" v-model="state1" :fetch-suggestions="querySearch" placeholder="请输入内容" @select="handleSelect"></el-autocomplete>
					<br />
					<br />
					<div id="userinfo">
						<span>车主： </span> <span>地址：</span> <span>驾驶员： </span> <span>手机号：</span> <br />
						<br /> <span>品牌：</span> <span>车型： </span> <span>发动机品牌：</span> <span>发动机号:</span>
					</div>
				</el-col>
			</el-row><br />
			<el-row type="flex" justify="center" v-show="value=='站内维修'">
				<el-col>
					<el-tabs v-model="activeName" @tab-click="handleClick">
						<el-tab-pane label="今日维修" name="first">
							<el-table :data="tableData" style="width: 100%">
								<el-table-column type="expand">
									<template slot-scope="props">
										<el-form label-position="left" inline class="demo-table-expand">
											<el-form-item label="商品名称">
												<span>{{ props.row.name }}</span>
											</el-form-item>
											<el-form-item label="所属店铺">
												<span>{{ props.row.shop }}</span>
											</el-form-item>
											<el-form-item label="商品 ID">
												<span>{{ props.row.id }}</span>
											</el-form-item>
											<el-form-item label="店铺 ID">
												<span>{{ props.row.shopId }}</span>
											</el-form-item>
											<el-form-item label="商品分类">
												<span>{{ props.row.category }}</span>
											</el-form-item>
											<el-form-item label="店铺地址">
												<span>{{ props.row.address }}</span>
											</el-form-item>
											<el-form-item label="商品描述">
												<span>{{ props.row.desc }}</span>
											</el-form-item>
										</el-form>
									</template>
								</el-table-column>
								<el-table-column label="商品 ID" prop="id">
								</el-table-column>
								<el-table-column label="商品名称" prop="name">
								</el-table-column>
								<el-table-column label="描述" prop="desc">
								</el-table-column>
							</el-table>
						</el-tab-pane>
						<el-tab-pane label="历史维修" name="second">
							<el-table :data="tableData1" style="width: 100%">
								<el-table-column type="expand">
									<template slot-scope="props">
										<el-form label-position="left" inline class="demo-table-expand">
											<el-form-item label="商品名称">
												<span>{{ props.row.name }}</span>
											</el-form-item>
											<el-form-item label="所属店铺">
												<span>{{ props.row.shop }}</span>
											</el-form-item>
											<el-form-item label="商品 ID">
												<span>{{ props.row.id }}</span>
											</el-form-item>
											<el-form-item label="店铺 ID">
												<span>{{ props.row.shopId }}</span>
											</el-form-item>
											<el-form-item label="商品分类">
												<span>{{ props.row.category }}</span>
											</el-form-item>
											<el-form-item label="店铺地址">
												<span>{{ props.row.address }}</span>
											</el-form-item>
											<el-form-item label="商品描述">
												<span>{{ props.row.desc }}</span>
											</el-form-item>
										</el-form>
									</template>
								</el-table-column>
								<el-table-column label="商品 ID" prop="id">
								</el-table-column>
								<el-table-column label="商品名称" prop="name">
								</el-table-column>
								<el-table-column label="描述" prop="desc">
								</el-table-column>
							</el-table>
						</el-tab-pane>
					</el-tabs>
				</el-col>
			</el-row>
			<el-row type="flex" justify="center" v-show="value=='站外维修'">
				<el-col :span="8">
					<span style="color: cornflowerblue; font-size: 12px;">请选择派车的车辆</span>
					<el-autocomplete clearable size="small " class="inline-input" v-model="state2" :fetch-suggestions="querySearch1" placeholder="请输入内容" @select="handleSelect1"></el-autocomplete>
				</el-col>
			</el-row>
		</div>
	</body>
	<script>
		var billing = new Vue({
			el: "#billing",
			data: {
				//业务类型选项
				value: '站内维修',

				//车牌输入框
				restaurants: [],
				state1: '',
				//派车
				restaurants1: [],
				state2: '',

				//标签页
				activeName: 'first',

				//今日维修列表
				tableData: [{
					id: '12987122',
					name: '好滋好味鸡蛋仔',
					category: '江浙小吃、小吃零食',
					desc: '荷兰优质淡奶，奶香浓而不腻',
					address: '上海市普陀区真北路',
					shop: '王小虎夫妻店',
					shopId: '10333'
				}, {
					id: '12987123',
					name: '好滋好味鸡蛋仔',
					category: '江浙小吃、小吃零食',
					desc: '荷兰优质淡奶，奶香浓而不腻',
					address: '上海市普陀区真北路',
					shop: '王小虎夫妻店',
					shopId: '10333'
				}, {
					id: '12987125',
					name: '好滋好味鸡蛋仔',
					category: '江浙小吃、小吃零食',
					desc: '荷兰优质淡奶，奶香浓而不腻',
					address: '上海市普陀区真北路',
					shop: '王小虎夫妻店',
					shopId: '10333'
				}, {
					id: '12987126',
					name: '好滋好味鸡蛋仔',
					category: '江浙小吃、小吃零食',
					desc: '荷兰优质淡奶，奶香浓而不腻',
					address: '上海市普陀区真北路',
					shop: '王小虎夫妻店',
					shopId: '10333'
				}],

				//历史维修列表
				tableData1: [{
					id: '12987122',
					name: '好滋好味鸡蛋仔',
					category: '江浙小吃、小吃零食',
					desc: '荷兰优质淡奶，奶香浓而不腻',
					address: '上海市普陀区真北路',
					shop: '王小虎夫妻店',
					shopId: '10333'
				}, {
					id: '12987123',
					name: '好滋好味鸡蛋仔',
					category: '江浙小吃、小吃零食',
					desc: '荷兰优质淡奶，奶香浓而不腻',
					address: '上海市普陀区真北路',
					shop: '王小虎夫妻店',
					shopId: '10333'
				}, {
					id: '12987125',
					name: '好滋好味鸡蛋仔',
					category: '江浙小吃、小吃零食',
					desc: '荷兰优质淡奶，奶香浓而不腻',
					address: '上海市普陀区真北路',
					shop: '王小虎夫妻店',
					shopId: '10333'
				}, {
					id: '12987126',
					name: '好滋好味鸡蛋仔',
					category: '江浙小吃、小吃零食',
					desc: '荷兰优质淡奶，奶香浓而不腻',
					address: '上海市普陀区真北路',
					shop: '王小虎夫妻店',
					shopId: '10333'
				}],
			},
			methods: {
				handleClick(tab, event) {
					console.log(tab, event);
				},
				//车牌输入框方法
				querySearch(queryString, cb) {
					var restaurants = this.restaurants;
					var results = queryString ? restaurants.filter(this.createFilter(queryString)) : restaurants;
					// 调用 callback 返回建议列表的数据
					cb(results);
				},
				createFilter(queryString) {
					return(restaurant) => {
						return(restaurant.value.toLowerCase().indexOf(queryString.toLowerCase()) === 0);
					};
				},
				loadAll() {
					return [{
							"value": "三全鲜食（北新泾店）",
							"address": "长宁区新渔路144号"
						},
						{
							"value": "Hot honey 首尔炸鸡（仙霞路）",
							"address": "上海市长宁区淞虹路661号"
						},
						{
							"value": "新旺角茶餐厅",
							"address": "上海市普陀区真北路988号创邑金沙谷6号楼113"
						},
						{
							"value": "泷千家(天山西路店)",
							"address": "天山西路438号"
						},
						{
							"value": "胖仙女纸杯蛋糕（上海凌空店）",
							"address": "上海市长宁区金钟路968号1幢18号楼一层商铺18-101"
						},
						{
							"value": "贡茶",
							"address": "上海市长宁区金钟路633号"
						},
						{
							"value": "豪大大香鸡排超级奶爸",
							"address": "上海市嘉定区曹安公路曹安路1685号"
						},
						{
							"value": "茶芝兰（奶茶，手抓饼）",
							"address": "上海市普陀区同普路1435号"
						},
						{
							"value": "十二泷町",
							"address": "上海市北翟路1444弄81号B幢-107"
						},
						{
							"value": "星移浓缩咖啡",
							"address": "上海市嘉定区新郁路817号"
						},
						{
							"value": "阿姨奶茶/豪大大",
							"address": "嘉定区曹安路1611号"
						},
						{
							"value": "新麦甜四季甜品炸鸡",
							"address": "嘉定区曹安公路2383弄55号"
						},
						{
							"value": "Monica摩托主题咖啡店",
							"address": "嘉定区江桥镇曹安公路2409号1F，2383弄62号1F"
						},
						{
							"value": "浮生若茶（凌空soho店）",
							"address": "上海长宁区金钟路968号9号楼地下一层"
						},
					];
				},
				handleSelect(item) {
					console.log(item);
				},

				//派车输入框
				querySearch1(queryString, cb) {
					var restaurants1 = this.restaurants1;
					var results = queryString ? restaurants.filter(this.createFilter(queryString)) : restaurants1;
					// 调用 callback 返回建议列表的数据
					cb(results);
				},
				createFilter1(queryString) {
					return(restaurant) => {
						return(restaurant.value.toLowerCase().indexOf(queryString.toLowerCase()) === 0);
					};
				},
				handleSelect1(item) {
					console.log(item);
				},
				
				//开单按钮点击
				Billing(val){
					if(val=="站内维修"){
						index.addTab(index.editableTabsValue, val, 'wx001');
					}else{
						index.addTab(index.editableTabsValue, val, 'jy001');
					}
				}
			},
			mounted() {
				axios.get(`http://127.0.0.1:8080/dzw_sys/api/vehicle/queryAll`).then(resp => {
					resp.data.forEach(temp=>{
						this.restaurants.push({"value":temp.license})
					})
				})
				this.restaurants1 = this.loadAll();
			}
		})
	</script>

</html>